<html>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home 
      <a class="nav-item nav-link" href="team">team</a>
      <a class="nav-item nav-link" href="contact">contact</a>
      <%# <% if current_users %>  
      <% if logged_in? %>
         <a class="nav-link nav-item" href="<%= new_user_path %>">sign_in</a>
      
         <a class="nav-link nav-item" href="<%= new_session_path %>">session</a>
      
      <% else %>
         
         <a class="nav-link nav-item"><%=  link_to "Log out",  logout_path, method: "delete" %> </a> 
        
      <% end %>     
    </div>
  </div>
</nav>
 
    <div class="page content col-7">
      <%= form_tag url_for(action: 'create'), method: "post" do %>
        <div class="form-group">
        <%= label_tag 'Title', name = 'Title', class: 'font-weight-bold'%>
        <%= text_field_tag 'title', nil, placeholder: 'Enter a title', class: 'form-control'%>
        <small id="emailHelp" class="form-text text-muted">3 caracters minimum and 14 caracters maximum.</small>
        </div>
        
        <div class="form-group">
        <%= label_tag 'Content', name = 'Content' , class: 'font-weight-bold'%>
        <%= text_area_tag 'content', nil, rows: 6, placeholder: 'Write your gossip...', class: 'form-control'%>
        </div>
        <br><br>

        <%= submit_tag "Create Post", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </body>
</html>
© 2021 GitHub, Inc.
