<div class="page content col-5">
  <h1>Create an account:</h1><br>

  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <div class="form-group">
      <%= label_tag 'First Name', name = 'First Name', class: 'font-weight-bold'%>
      <%= text_field_tag 'first_name', nil, placeholder: 'Enter your first name', class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= label_tag 'Last Name', name = 'Last Name', class: 'font-weight-bold'%>
      <%= text_field_tag 'last_name', nil, placeholder: 'Enter your last name', class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= label_tag 'Age', name = 'Age', class: 'font-weight-bold'%>
      <%= text_field_tag 'age', nil, placeholder: 'Your age', class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= label_tag 'Description', name = 'Description', class: 'font-weight-bold'%>
      <%= text_area_tag 'description', nil,rows: 3, placeholder: 'Describe yourself in a few words', class: 'form-control'%>
      <small id="emailHelp" class="form-text text-muted">500 caracters max.</small>
    </div>

    <div class="form-group">
      <%= label_tag 'Email', name = 'Email', class: 'font-weight-bold'%>
      <%= text_field_tag 'email', nil, placeholder: 'Enter your email adress', class: 'form-control'%>
      <small id="emailHelp" class="form-text text-muted">Must be a valid email adress.</small>
    </div>

    <br>

    <div class="form-group">
      <%= label_tag 'Password', name = 'Password' , class: 'font-weight-bold'%>
      <%= password_field_tag 'password', nil, placeholder: 'Choose a password', class: 'form-control'%>
      <small id="emailHelp" class="form-text text-muted">Password must contain as least 6 caracters.</small>
    </div>

    <br>


   

    <%= submit_tag "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>